<div class="main-container">
    <!-- Date Range Selector -->
    <div class="date-range-container">
        <h3>Select Date Range</h3>

        @if (startDate || endDate) {
        <div class="date-range-explanation mt-2">
            @if (isDefaultFilter) {
            <span>
                <i class="fas fa-clock" aria-hidden="true"></i> <b> Default :</b> Showing tasks from last 7 days
            </span>
            } @else {
            <span>
                Filtering tasks from
                @if (startDate) {
                <strong>{{ startDate | date }}</strong>
                }
                @if (startDate && endDate) {
                <strong> to </strong>
                }
                @if (endDate) {
                <strong>{{ endDate | date }}</strong>
                }
            </span>
            }
        </div>
        }

        <div class="form-group">
            <label>Start Date</label>
            <input type="date" [(ngModel)]="startDate" />
        </div>

        <div class="form-group">
            <label>End Date</label>
            <input type="date" [(ngModel)]="endDate" />
        </div>

        <div class="actions">
            <button class="reset" (click)="resetRange()">Reset</button>
            <button class="apply" (click)="applyRange()">Apply</button>
        </div>
    </div>

    <!-- Chart Insights -->
    <div class="insights-container" [class.empty]="!donutChartOptions.series?.length">
        @if (donutChartOptions.series?.length) {
        <apx-chart #chart [series]="donutChartOptions.series!" [chart]="donutChartOptions.chart!"
            [labels]="donutChartOptions.labels!" [responsive]="donutChartOptions.responsive!"
            [legend]="donutChartOptions.legend!" [dataLabels]="donutChartOptions.dataLabels!"
            [plotOptions]="donutChartOptions.plotOptions!" [title]="donutChartOptions.title!">
        </apx-chart>
        }
    </div>
</div>

<!-- Task Analytics Component -->
<div class="task-analytics-container">
    <app-task-analytics></app-task-analytics>
</div>